/*商品列表*/
.proBox{
    /*-o-box-shadow: 1px 1px 5px #F2F2F2;*/
    /*box-shadow: 1px 1px 5px #F2F2F2;*/
    /*-moz-box-shadow: 1px 1px 5px #F2F2F2;*/
    /*-webkit-box-shadow:1px 1px 5px #F2F2F2;*/
    border-bottom: solid 1px #F2F2F2;
    margin-bottom: 30px;
}
.proBox .proText{
    padding: 14px 0 0 0;
}
.proBox .proBoxText{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    padding: 0;
}
.proBox .proBoxText .proInfo{
    padding-left: 5px;
    color: #000000;
}
.proBox .proBoxText .proBangIcon{
    color:#fff;
    background-color:#F40A0B;
    padding:0 5px;
    border-radius:5px;
    height: 1.25rem;
    line-height: 1.25rem;
}
.proBoxTextLeft{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    justify-content: space-around;
    height: 1rem;
}
.proBoxTextLeft .priceTitle{
    /*font-weight: bold;*/
    font-size: 16px;
}
.proBoxTextLeft .priceTitle .price{
    color:#F40A0B;
    font-size: 18px;
}
.proBoxTextLeft .yjBox{
    color: #FFFFFF;
    background: #000000;
    padding: 2px 5px;
    border-radius: 3px;
}
.proBoxTextLeft .costPrice{
    padding: 0 10px;
}
.proBoxTextLeft .yjText{
    padding: 0 5px;
}
.flexClumnBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.proBoxTextRight{
    text-align: right;
}
.proBoxTextRight .yqText{
    font-size: 14px;
}
.proBoxTextRight .yjText{
    padding: 0 5px;
}
.suspend.right{
    padding: 10px 15px;
}
.suspend.left{
    padding: 6px;
}
.timeBox{
    padding-top: 5px;
}
.timeBox>span{
    margin: 0 2px;
}
/*优惠活动*/
.TitleBox{
    padding: 0.5rem 10px;
}
.Title{
    font-size: 21.5px;
    /*font-weight: bold;*/
}
.moreText {
    color:#FFCC01;
    font-size:13.5px;
}
.shadowBox {
    -o-box-shadow: 3px 3px 5px #D0D0D0;
    box-shadow: 3px 3px 5px #D0D0D0;
    -moz-box-shadow: 3px 3px 5px #D0D0D0;
    -webkit-box-shadow: 3px 3px 5px #D0D0D0;
}
/*订单商品*/
.ordersBox{
    font-weight: bold;
}
.ordersBox .smallTitle{
    font-size: 12px;
    padding-top: 0.5rem;
}
.ordersBox .myButtons{
    height: 1.6rem;
    font-size: 12px;
    border-radius: 0.8rem;
    line-height: 1.6rem;
    padding: 0 1rem;
}
/*订单详情*/
.ordersDetailsBox{

}
.ordersDetailsBox .titleText{
    font-size: 14px;
    font-weight: bold;
}
/*灰色的分割条*/
.colorRow{
    height: 0.5rem;
    background: #F2F2F2;
    width: 100%;
}
/*大标题*/
.bigTitle{
    font-size: 22px;
}
/*小标题*/
.smTitle{
    font-size: 15px;
}
/*详情页已抢购用户的头像叠加效果*/
.touxiangImage>img{
    width:35px;
    border-radius:50%;
    border:1px #CCCCCC solid;
    /*position: absolute;*/
    margin-left: -20px;
}
/*超小字体*/
.smText{
    font-size: 10px;
}
/*小字体*/
.smallText{
    font-size: 12px;
}
/*中号字体*/
.mdText{
    font-size: 14px;
}
/*搜索页页景点距离*/
.range{
    padding-top: 10px;
}
/*商品详情页的下方商品介绍*/
.infoBox{
    padding: 5px 0;
    box-shadow: 1px 1px 3px #F2F2F2;
    margin: 10px 0;
}